body{
    overflow-x: hidden;
    margin: 20px;
    
    background-position: 2px,50px;
    background-repeat: repeat-x;
    
    letter-spacing: 4px;
    text-align: justify;
    text-transform: uppercase;
    text-decoration-color: rgb(34, 42, 198);
}
p{
    border: 2px dotted ;
    padding: 30px;
    font-size: smaller;
    font-weight: 5px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-display: 100px;
    word-spacing: 10px;
}